<div class="container m-3">
  <div style="margin: auto;" class="w-75">
    <button (click)="exportexcel()" class="btn btn-secondary btn-md m-1">
      Export to Excel
    </button>
    <button  (click)="downloadAsPDF();" class="btn btn-md btn-primary m-1">
      Export To PDF
    </button>

    <table  class="table" id="content" #content>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userList">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>